/* @theme: default; */

.favorite-button {
  &--gallery-view, &--list-view {
    position: absolute;
    z-index: 9;
    bottom: $favorite-button-position-bottom;
    left: $favorite-button-position-left;
  }
  .isFavorite {
    fill: currentColor;
  }
}
